.productinbucket {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  border-top: 1px solid #0D99FF;
  border-bottom: 1px solid #0D99FF;
  border-radius: 12px;
  margin-bottom: 1px;
}
.productinbucket_btn {
  background-color: red;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
}