* {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.addingwriteoff {
  width: 1024px;
  height: 768px;
  background-color: #F4F4F4;
  position: relative;
  padding-top: 50px;
  padding-left: 25px;
}
.addingwriteoff_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.addingwriteoff_timantan {
  width: 800px;
  height: 50px;
  background-color: #DBF0FF;
  border: solid 2px #0D99FF;
  border-radius: 12px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.addingwriteoff_block {
  width: 960px;
  height: 412px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.addingwriteoff_info {
  width: 400px;
  height: 412px;
  background-color: #DBF0FF;
  border: solid 2px #0D99FF;
  border-radius: 12px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 25px;
}
.addingwriteoff_card_img {
  border-radius: 12px;
  width: 380px;
  height: 250px;
  margin: 10px 10px 10px 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.addingwriteoff_card_text {
  margin-bottom: 16px;
  margin-left: 10px;
}
.addingwriteoff_entry {
  width: 544px;
  height: 412px;
  background-color: #DBF0FF;
  border: solid 2px #0D99FF;
  border-radius: 12px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 25px;
  margin-left: 16px;
}
.addingwriteoff_menu {
  width: 494px;
  height: 70px;
  background-color: #FBFBFB;
  margin: 25px 25px 0 25px;
  border-radius: 12px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
.addingwriteoff_menu_text {
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.addingwriteoff_menu_input {
  border: none;
  padding: 16px;
}
.addingwriteoff_menu_input:focus {
  outline: none;
  border: 2px solid #0D99FF;
  border-radius: 12px;
}
.addingwriteoff_menu_input:invalid {
  border: 2px solid red;
  border-radius: 12px;
}
.addingwriteoff_menu_input:valid {
  border: 2px solid #14ae5c;
  border-radius: 12px;
}
.addingwriteoff_del {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.addingwriteoff_del_btn {
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  background-color: red;
}
.addingwriteoff_adding {
  width: 494px;
  height: 268px;
  margin: 25px;
  border-radius: 12px;
  background-color: #FBFBFB;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.addingwriteoff_adding_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  border: 1px solid grey;
  background-color: #FBFBFB;
}
.addingwriteoff_adding_text:first-child {
  border-radius: 12px 0px 0px 0px;
}
.addingwriteoff_adding_text:nth-child(3) {
  border-radius: 0px 12px 0px 0px;
}
.addingwriteoff_adding_text:nth-child(10) {
  border-radius: 0px 0px 0px 12px;
}
.addingwriteoff_adding_btn {
  border: none;
  background-color: #14ae5c;
  border-radius: 0px 0px 12px 0px;
}
.addingwriteoff_textinput {
  width: 544px;
  background-color: #DBF0FF;
  border: solid 2px #0D99FF;
  border-radius: 12px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 25px;
  position: absolute;
  height: 100px;
  bottom: 116px;
  right: 40px;
  padding: 16px;
}
.addingwriteoff_back {
  width: 960px;
  height: 50px;
  background-color: #DBF0FF;
  border: solid 2px #0D99FF;
  border-radius: 12px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  bottom: 50px;
}