@import '../css/mixin';
@import '../css/vars';

* {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.bucket {
  width: 1024px;
  height: 768px;
  background-color: $greyback;
  position: relative;
  padding-top: 50px;
  padding-left: 25px;
  padding-right: 25px;
  &_header {
    @include longbutton();
    @include center();
    font-size: 24px;
  }
  &_menu {
    height: 368px;
    width: 960px;
    border-radius: 12px;
    margin-top: 25px;
    display: flex;
  }
  &_info {
    background-color: $whiteback;
    width: 960px;
    height: 368px;
    border-radius: 12px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    overflow-y: auto;
  }
  &_info::-webkit-scrollbar {
    @include button();
    width: 20px;
  }
  &_info::-webkit-scrollbar-thumb {
    background: $blueborder;
    border-radius: 12px;
  }
  &_productinbucket {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    border-top: 1px solid $blueborder;
    border-bottom: 1px solid $blueborder;
    border-radius: 12px;
    margin-bottom: 1px;

    &_btn {
      background-color: red;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      border: none;
    }
  }
  &_productinbucket_names {
    justify-self: start;
    padding-left: 25px;
  }
  &_total {
    @include button();
    width: 240px;
    height: 50px;
    font-size: 24px;
    @include center();
    margin-left: 720px;
    margin-top: 32px;
    margin-right: 25px;
  }
  &_checkout {
    width: 960px;
    height: 50px;
    @include button();
    margin-top: 32px;
  }
  &_footer {
    margin-top: 25px;
    width: 960px;
    height: 50px;
    display: flex;
  }
  &_back {
    width: 672px;
    height: 50px;
    margin-right: 16px;
    @include button();
  }
  &_del {
    width: 272px;
    height: 50px;
    @include button();
  }
}
