@import '../css/mixin';
@import '../css/vars';

* {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
}

.checkdelproduct {
  width: 1024px;
  height: 768px;
  background-color: $greyback;
  padding-left: 25px;

  &_header {
    display: flex;
  }
  &_productcard {
    display: grid;
  }
  &_productsection {
    display: flex;
  }
  &_productcard {
    width: 560px;
    height: 593px;
    margin-right: 16px;
  }
  &_basket {
    width: 384px;
    height: 518px;
    @include button();
    margin-top: 25px;
  }
  &_basketin {
    width: 364px;
    height: 498px;
    margin: 10px;
    @include bucket();
    @include center();
    font-size: 24px;
    color: red;
  }

  &_checkout {
    width: 344px;
    height: 88px;
    @include button();
    margin: 0 10px 10px 10px;
    font-size: 24px;
  }
  &_products {
    width: 560px;
    height: 518px;
    margin: 25px 0 0 0;
    background-color: $blueback;
    border: solid 2px $blueback;
    border-radius: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;
  }
  &_btn {
    display: flex;
  }
  &_nextpage {
    width: 476px;
    height: 50px;
    margin: 25px 0 0 0;
    @include button();
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
  &_card_text {
    padding-left: 10px;
    position: absolute;
    top: 80px;
    position: relative;
    color: #ffffff;
  }
  &_card_img {
    position: absolute;
    width: 185px;
    height: 128px;
    border-radius: 12px;
  }
}
