* {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.delproduct {
  width: 1024px;
  height: 768px;
  background-color: #F4F4F4;
  padding-left: 25px;
  position: relative;
}
.delproduct_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.delproduct_products {
  width: 550px;
  height: 400px;
  margin-top: 25px;
  margin-right: 25px;
}
.delproduct_productsection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.delproduct_basket {
  width: 384px;
  height: 518px;
  background-color: #DBF0FF;
  border: solid 2px #0D99FF;
  border-radius: 12px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 25px;
}
.delproduct_basketin {
  width: 364px;
  height: 498px;
  margin: 10px;
  background-color: #F4F4F4;
  border: solid 2px #B3B3B3;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  color: red;
}
.delproduct_nextpage {
  width: 960px;
  height: 50px;
  margin: 25px 0 0 0;
  background-color: #DBF0FF;
  border: solid 2px #0D99FF;
  border-radius: 12px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  position: absolute;
  bottom: 50px;
}
.delproduct_basketbtn {
  border: none;
  background-color: #DBF0FF;
  border: solid 2px #0D99FF;
  border-radius: 12px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  width: 192px;
  height: 96px;
}