* {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.gweight {
  width: 1024px;
  height: 768px;
  background-color: #F4F4F4;
  position: relative;
  padding-top: 50px;
  padding-left: 25px;
}
.gweight_block {
  width: 960px;
  height: 412px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.gweight_info {
  width: 400px;
  height: 336px;
  background-color: #DBF0FF;
  border: solid 2px #0D99FF;
  border-radius: 12px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 25px;
}
.gweight_entry {
  width: 544px;
  height: 412px;
  background-color: #DBF0FF;
  border: solid 2px #0D99FF;
  border-radius: 12px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 25px;
  margin-left: 16px;
}
.gweight_menu {
  margin: 10px 10px 0 10px;
  width: 524px;
  height: 147px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  background-color: #FBFBFB;
  border-radius: 12px;
}
.gweight_menu_text {
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.gweight_menu_input {
  border: none;
  padding: 16px;
}
.gweight_menu_input:focus {
  outline: none;
  border: 2px solid #0D99FF;
  border-radius: 12px;
}
.gweight_menu_input:invalid {
  border: 2px solid red;
  border-radius: 12px;
}
.gweight_menu_input:valid {
  border: 2px solid #14ae5c;
  border-radius: 12px;
}
.gweight_handleadd {
  width: 330px;
  height: 90px;
  background-color: #DBF0FF;
  border: solid 2px #0D99FF;
  border-radius: 12px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 16px;
}
.gweight_get {
  width: 490px;
  height: 90px;
  background-color: #DBF0FF;
  border: solid 2px #0D99FF;
  border-radius: 12px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 25px 25px 0 25px;
}
.gweight_adding {
  margin: 25px 25px 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.gweight_add {
  width: 150px;
  height: 90px;
  border-radius: 12px;
  border: none;
  padding: 10px;
  background-color: #14ae5c;
}
.gweight_card_img {
  border-radius: 12px;
  width: 380px;
  margin: 10px 10px 10px 10px;
}
.gweight_card_text {
  margin-left: 10px;
}