@import '../css/mixin';
@import '../css/vars';

* {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.gweight {
  width: 1024px;
  height: 768px;
  background-color: $greyback;
  position: relative;
  padding-top: 50px;
  padding-left: 25px;
  &_block {
    width: 960px;
    height: 412px;
    display: flex;
  }
  &_info {
    width: 400px;
    height: 336px;
    @include button();
    margin-top: 25px;
  }
  &_entry {
    width: 544px;
    height: 412px;
    @include button();
    margin-top: 25px;
    margin-left: 16px;
  }

  &_menu {
    margin: 10px 10px 0 10px;
    width: 524px;
    height: 147px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    background-color: $whiteback;
    border-radius: 12px;
    &_text {
      padding: 16px;
      display: flex;
      justify-content: start;
      align-items: center;
    }
    &_input {
      border: none;
      padding: 16px;
    }
    &_input:focus {
      outline: none;
      border: 2px solid $blueborder;
      border-radius: 12px;
    }
    &_input:invalid {
      border: 2px solid red;
      border-radius: 12px;
    }
  }
  &_handleadd {
    width: 330px;
    height: 90px;
    @include button();
    margin-right: 16px;
  }
  &_get {
    width: 490px;
    height: 90px;
    @include button();
    margin: 25px 25px 0 25px;
  }
  &_adding {
    margin: 25px 25px 0 25px;
    display: flex;
  }
  &_add {
    width: 150px;
    height: 90px;
    border-radius: 12px;
    border: none;
    padding: 10px;
    background-color: #14ae5c;
  }
  &_card_img {
    border-radius: 12px;
    width: 380px;
    margin: 10px 10px 10px 10px;
  }
  &_card_text {
    margin-left: 10px;
  }
}
