* {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main_menu {
  width: 1024px;
  height: 768px;
  background-color: #F4F4F4;
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 15px 0 15px;
  border-color: #0d99ff transparent transparent transparent;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.timantan {
  width: 400px;
  height: 50px;
  background-color: #DBF0FF;
  border: solid 2px #0D99FF;
  border-radius: 12px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 50px 0 0 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timantan_text .login_text .registration_text {
  font-size: 16px;
}

.timantan_text {
  padding-left: 16px;
}

.trianglemain {
  width: 144px;
  height: 50px;
  background-color: #DBF0FF;
  border: solid 2px #0D99FF;
  border-radius: 12px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 50px 0 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login, .registration {
  width: 184px;
  height: 50px;
  background-color: #DBF0FF;
  border: solid 2px #0D99FF;
  border-radius: 12px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 50px 0 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.registration {
  margin-right: 32px;
}

.productcard {
  display: grid;
}

.productsection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.productcard {
  width: 560px;
  height: 593px;
  margin-right: 16px;
}

.basket {
  width: 384px;
  height: 593px;
  background-color: #DBF0FF;
  border: solid 2px #0D99FF;
  border-radius: 12px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 32px;
  margin-top: 25px;
}

.basketin {
  width: 364px;
  height: 573px;
  margin: 10px;
  background-color: #F4F4F4;
  border: solid 2px #B3B3B3;
  border-radius: 12px;
}

.basketmenu {
  width: 344px;
  height: 393px;
  border: solid 2px #B3B3B3;
  border-radius: 12px;
  background-color: #FBFBFB;
  margin: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.basketsum {
  width: 344px;
  height: 52px;
  background-color: #DBF0FF;
  border: solid 2px #0D99FF;
  border-radius: 12px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkout {
  width: 344px;
  height: 88px;
  background-color: #DBF0FF;
  border: solid 2px #0D99FF;
  border-radius: 12px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 10px 10px 10px;
  font-size: 24px;
}

.products {
  width: 560px;
  height: 518px;
  margin: 25px 0 0 32px;
  background-color: #DBF0FF;
  border: solid 2px #DBF0FF;
  border-radius: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.nextpage {
  width: 560px;
  height: 50px;
  margin: 25px 0 0 32px;
  background-color: #DBF0FF;
  border: solid 2px #0D99FF;
  border-radius: 12px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card_text {
  position: relative;
  color: #26060e;
}

.card_img {
  position: absolute;
  width: 185px;
  height: 128px;
  border-radius: 12px;
}