@import '../css/mixin';
@import '../css/vars';

* {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
}
.main_menu {
  width: 1024px;
  height: 768px;
  background-color: $greyback;
  padding-left: 25px;
}
.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 15px 0 15px;
  border-color: #0d99ff transparent transparent transparent;
}
.header {
  display: flex;
}
.timantan {
  width: 400px;
  height: 50px;
  @include button();
  margin: 50px 0 0 0;
  @include center();
}
.timantan_text .login_text .registration_text {
  font-size: 16px;
}
.timantan_text {
  padding-left: 16px;
}
.trianglemain {
  width: 144px;
  height: 50px;
  @include button();
  margin: 50px 0 0 16px;
  @include center();
}
.login {
  width: 184px;
  height: 50px;
  @include button();
  margin: 50px 0 0 16px;
  @include center();
}
.registration {
  @extend .login;
  margin-right: 32px;
}
.productcard {
  display: grid;
}
.productsection {
  display: flex;
}
.productcard {
  width: 560px;
  height: 593px;
  margin-right: 16px;
}
.basket {
  width: 304px;
  height: 593px;
  @include button();
  margin-top: 25px;
  margin-left: 92px;
}
.basketin {
  width: 284px;
  height: 573px;
  margin: 10px;
  @include bucket();
  position: relative;
  &_btn {
    position: absolute;
    bottom: 0px;
  }
}
.basketmenu {
  width: 264px;
  height: 393px;
  border: solid 2px $greyborder;
  border-radius: 12px;
  background-color: $whiteback;
  margin: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100vh;

  &_line {
    display: grid;
    grid-template-rows: 1fr repeat(6);
    grid-template-columns: 2fr 1fr;
    width: 240px;
    height: 50px;
  }

  &_name {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 10px;
    border-bottom: $greyborder solid 1px;
  }
  &_totalprice {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 10px;
    border-bottom: $greyborder solid 1px;
  }
}
.basketsum {
  width: 264px;
  height: 52px;
  @include button();
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.checkout {
  width: 264px;
  height: 88px;
  @include button();
  margin: 0 10px 10px 10px;
  font-size: 24px;
}
.products {
  width: 660px;
  height: 593px;
  margin: 25px 0 0 0;
  background-color: $blueback;
  border: solid 2px $blueback;
  border-radius: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px;
  overflow-y: auto;
}
.nextpage {
  width: 560px;
  height: 50px;
  margin: 25px 0 0 0;
  @include button();
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
}
.card_text {
  padding-left: 10px;
  position: absolute;
  top: 80px;
  position: relative;
  color: #ffffff;
}
.card_img {
  position: absolute;
  width: 200px;
  height: 128px;
  border-radius: 12px;
}
.products::-webkit-scrollbar {
  @include button();
  width: 20px;
}
.products::-webkit-scrollbar-thumb {
  background: $blueborder;
  border-radius: 12px;
}
