* {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.main_menuprogrammquit {
  width: 1024px;
  height: 768px;
  background-color: #F4F4F4;
  position: relative;
  padding-left: 25px;
  padding-top: 50px;
}

.headerblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.timantan_middle {
  background-color: #DBF0FF;
  border: solid 2px #0D99FF;
  border-radius: 12px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  width: 960px;
  height: 50px;
  padding-left: 16px;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.programmquit_block {
  width: 960px;
  height: 152px;
  margin: 25px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.report {
  background-color: #DBF0FF;
  border: solid 2px #0D99FF;
  border-radius: 12px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  width: 560px;
  height: 152px;
}

.total {
  width: 384px;
  height: 152px;
  background-color: #FBFBFB;
  margin-left: 16px;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.programmquit_back {
  width: 960px;
  height: 50px;
  background-color: #DBF0FF;
  border: solid 2px #0D99FF;
  border-radius: 12px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  bottom: 50px;
}