@import '../css/mixin';
@import '../css/vars';

* {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
}
.registrationblock {
  &_main_menus {
    width: 1024px;
    height: 768px;
    background-color: $greyback;
    position: relative;
    padding-top: 50px;
    padding-left: 25px;
  }
  &_exitShort {
    @include button();
    @include center();
    width: 176px;
    height: 50px;
    margin: 0 auto;
  }
  &_timantanlong {
    width: 960px;
    height: 160px;
    @include button();
    display: flex;
    &_span {
      width: 619px;
      margin: 62px 0 62px 90px;
    }
    &_cookies {
      width: 333px;
      margin: 8px 8px 8px 0;
      border-radius: 12px;
      object-fit: cover;
    }
  }
  &_blocklogin {
    width: 576px;
    height: 272px;
    @include bucket();
    margin: 0 auto;
    margin-bottom: 136px;
    margin-top: 50px;
    &_container {
      border-radius: 12px;
      background-color: $whiteback;
      width: 432px;
      height: 228px;
      margin: 20px auto;
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      background-color: $whiteback;
    }
    &_entry {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 1fr;
    }
    &_text {
      text-align: center;
      justify-items: center;
      margin-top: 22px;
    }
    &_input {
      border: none;
      padding: 16px;
    }
    &_input:focus {
      outline: none;
      border: 2px solid $blueborder;
      border-radius: 12px;
    }
    &_btn {
      @include center();
      @include button();
      height: 50px;
      width: 176px;
      margin: -13px auto;
    }
  }
}
