* {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.registrationblock_main_menus {
  width: 1024px;
  height: 768px;
  background-color: #F4F4F4;
  position: relative;
  padding-top: 50px;
  padding-left: 25px;
}
.registrationblock_timantanlong {
  width: 960px;
  height: 160px;
  background-color: #DBF0FF;
  border: solid 2px #0D99FF;
  border-radius: 12px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.registrationblock_timantanlong_span {
  width: 619px;
  margin: 62px 0 62px 90px;
}
.registrationblock_timantanlong_cookies {
  width: 333px;
  margin: 8px 8px 8px 0;
  border-radius: 12px;
  -o-object-fit: cover;
     object-fit: cover;
}
.registrationblock_blocklogin {
  width: 576px;
  height: 272px;
  background-color: #F4F4F4;
  border: solid 2px #B3B3B3;
  border-radius: 12px;
  margin: 0 auto;
  margin-bottom: 136px;
  margin-top: 50px;
}
.registrationblock_blocklogin_container {
  border-radius: 12px;
  background-color: #FBFBFB;
  width: 432px;
  height: 228px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-color: #FBFBFB;
}
.registrationblock_blocklogin_text {
  text-align: center;
  justify-items: center;
  margin-top: 22px;
}
.registrationblock_blocklogin_input {
  border: none;
  padding: 16px;
}
.registrationblock_blocklogin_input:focus {
  outline: none;
  border: 2px solid #0D99FF;
  border-radius: 12px;
}
.registrationblock_blocklogin_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #DBF0FF;
  border: solid 2px #0D99FF;
  border-radius: 12px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  height: 50px;
  width: 176px;
  margin: -13px auto;
}
.registrationblock_exitShort {
  background-color: #DBF0FF;
  border: solid 2px #0D99FF;
  border-radius: 12px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 176px;
  height: 50px;
  margin: 0 auto;
}